<div class="data-grid-container">
  <app-date-filter
    (dateFilterData)="onDateFilterDataChange($event)"
  ></app-date-filter>
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table
    class="lessons-table mat-elevation-z8"
    [dataSource]="dataSource"
    matSort
    matSortDisableClear
  >
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
      <mat-cell *matCellDef="let city">{{ city.city }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="start_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Start Date</mat-header-cell
      >
      <mat-cell class="end_date-cell" *matCellDef="let city">{{
        city.start_date
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="end_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >End Date</mat-header-cell
      >
      <mat-cell class="end_date-cell" *matCellDef="let city">{{
        city.end_date
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <mat-cell class="price-cell" *matCellDef="let city">{{
        city.price
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Status</mat-header-cell
      >
      <mat-cell class="status-cell" *matCellDef="let city">{{
        city.status
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Color</mat-header-cell>
      <mat-cell class="color-cell" *matCellDef="let city">{{
        city.color
      }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowClicked(row)"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [length]="pageCount"
    [pageSize]="pageSizeOptions[0]"
    [pageSizeOptions]="pageSizeOptions"
  ></mat-paginator>
</div>
